@charset "UTF-8";
Css reset html,
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%; /* 確保圖片不會溢出容器 */
  height: auto; /* 保持圖片比例 */
  vertical-align: middle; /* 修正圖片底部間隙問題 */
  display: inline-block; /* 更一致的跨瀏覽器行為 */
  /* 可選：避免圖片被選中 */
  user-select: none;
  -webkit-user-select: none;
  object-fit: cover;
}

/*--------------------------*/
/*!-----------色彩設定---------------*/
:root {
  --primary100:#F5FEE7;
  --primary200:#E8FEC5;
  --primary300:#C0FA73;
  --primary400:#57A203;
  --primary500:#477A11;
  --neutral000:#ffffff;
  --neutral100:#F8F9FA;
  --neutral200:#E9ECEF;
  --neutral300:#DEE2E6;
  --neutral400:#CED4DA;
  --neutral500:#ADB5BD;
  --neutral600:#6C757D;
  --neutral700:#495057;
  --neutral800:#343A40;
  --neutral900:#212529;
}

/*!-----------文字樣式---------------*/
body {
  /* TW/Label/md */
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  color: var(--neutral900);
}

.taCenter {
  text-align: center;
}

.ty-h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.ty-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

.ty-h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
}

.ty-h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.ty-h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.ty-h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

.ty-sm {
  font-weight: 400;
  font-size: 14px;
}

.tyc-head {
  color: var(--neutral000);
}

a, .tyc-n900 {
  color: var(--neutral900);
}

.tyc-high {
  color: var(--primary400);
}

.tyc-foot {
  color: var(--neutral600);
}

.tyc-n500 {
  color: var(--neutral500);
}

.tyc-deco {
  color: var(--neutral300);
}

.tyc-dan300 {
  color: #D74F4F;
}

.tyd-line-through {
  text-decoration: line-through;
}

/*!-----------間隔---------------*/
.mt-48 {
  margin-top: 48px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-1rem {
  margin-left: 16px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.py-64 {
  padding: 64px 0;
}

.py-48 {
  padding: 48px 0;
}

.py-32 {
  padding: 32px 0;
}

.py-17 {
  padding: 17px 0;
}

.py-12 {
  padding: 12px 0;
}

.pl-12 {
  padding-left: 12px;
}

.pl-8 {
  padding-left: 8px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

/*!-----------容器設定---------------*/
/* 區塊版面 */
.wrap {
  max-width: 100vw;
  margin: 0 auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

/* -----------FLEX---------- */
.f-box {
  display: flex;
  flex-wrap: wrap;
}

.f-jcsb {
  justify-content: space-between;
}

.f-jcc {
  justify-content: center;
}

.f-aic {
  align-items: center;
}

/* -----------格線---------- */
.row-fix {
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

[class*=col-] {
  padding-right: 12px;
  padding-left: 12px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-12 {
  width: 100%;
}

.gap-8 {
  gap: 8px;
}

.gap-24 {
  gap: 24px;
}

.gap-c-24 {
  column-gap: 24px;
}

.gap-r-48 {
  gap: 48px 24px;
}

/*!-----------按鈕連結與裝飾---------------*/
/* botton */
.btn {
  display: block;
  padding: 8px 0;
  color: var(--primary400);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.btn:hover {
  color: var(--primary500);
}

.btn:active {
  color: var(--primary300);
}

.titleBtn {
  color: var(--neutral900);
}

/* -------種類清單-------- */
.listSlec {
  display: block;
  padding: 12px 0;
  color: var(--neutral900);
}

.listSlec:hover {
  color: var(--primary400);
}

/* --------翻頁按鈕-------- */
.paginationBtn {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
}

.paginationBtn:Hover {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--neutral100);
}

.paginationBtn.selected {
  background-color: var(--primary300);
  font-weight: 500;
  font-size: 16px;
}

/* -----------收藏&預定---------- */
.CTA-Btn {
  flex: 1;
  height: 48px;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
}

.CTA-like {
  border: 1px solid var(--neutral900);
}

.CTA-like:hover, .CTA-book {
  background-color: var(--neutral900);
  color: var(--neutral000);
}

/* -------------選擇顏色---------------- */
.colorOption {
  width: 64px;
  cursor: pointer;
}

.colorOption p {
  text-align: center;
  color: var(--neutral600);
}

.colorOption:hover img {
  opacity: 0.8;
}

.colorOption.selected img {
  border: 1px solid var(--neutral900);
}

.colorOption.selected p {
  color: var(--neutral900);
}

/* -------------選擇尺寸---------------- */
.slecBtn {
  width: 160px;
  padding: 12px 24px;
  border: 1px solid var(--neutral300);
  background-color: var(--neutral000);
  border-radius: 4px;
  cursor: pointer;
}

.slecBtn:hover {
  border-color: var(--neutral600);
}

.slecBtn.selected {
  border-color: var(--neutral900);
}

/* -----------馬上註冊---------- */
.registerBtn {
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--neutral900);
  color: var(--neutral000);
}

/* -----------麵包屑---------- */
.breadcrumb + .breadcrumb::before {
  content: "/";
  padding: 0 12px;
  color: var(--neutral300);
}

/* 裝飾 */
.st-bdb {
  border-bottom: 1px solid var(--neutral300);
}

/*!-----------單一區塊設定---------------*/
/* -----------商品列表---------- */
.productCard {
  max-width: 31%;
}

.productImageCard {
  flex: 1 1 calc(50% - 4px);
}

.productSlideCard {
  width: calc(25% - 12px);
}

/* -----------footer---------- */
.banner {
  background-color: var(--primary200);
  padding: 24px 0;
}/*# sourceMappingURL=all.css.map */